<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatDanka</title>
    <style>
        body {
            background-color: #404040;
            color: white;
        }
          input {
    padding: 10px;
    border: 1px solid #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
}

#pintext {
    position: absolute;
    right: 50%;
}

#inputpin {
    position: absolute;
    right: 43%; 
}
    </style>
</head>
<body>
    <h1 id="pintext">Enter PIN:</h1>
    <br><br><br>
    <br><br>
    <form method="post">
        <div id="inputpin">
            <br><br>
        <input type="password" name="z" maxlength=1 id="z" onkeyup="moveOnMax(this,'a')" />
        <input type="password" name="a" maxlength=1 id="a" onkeyup="moveOnMax(this,'b')" />
        <input type="password" name="b" maxlength=1 id="b" onkeyup="moveOnMax(this,'c')" />
        <input type="password" name="c" maxlength=1 id="c" onkeyup="moveOnMax(this,'d')"/>
        <input type="password" name="d" maxlength=1 id="d" onkeyup="moveOnMax(this,'e')"/>
        <input type="password" name="e" maxlength=1 id="e" />
    </div>
    <br><br>
        <button style="width: 100px; height: 40px; position: absolute; top: 34%; right: 53%; background-color: black; color: white;" type="submit">CONFIRM!</button>
    </form>
</body>
<script>
    moveOnMax =function (field, nextFieldID) {
    if (field.value.length == 1) {
        document.getElementById(nextFieldID).focus();
    }
}
</script>
</html>